.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-label a {
  text-decoration: none;
}

.shop-app-bar {
  margin-bottom: 110px;
}

.active-filter-button {
  color: #3f51b5;
}
