/* ---------------------------------------- Start Header ---------------------------------------- */
#top-bar {
  background: #000;
}
#top-bar div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #b2b2b2;
}
#top-bar div div a {
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: #b2b2b2;
  text-decoration: none;
}
#top-bar div div a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#navbar {
  background-color: #fff;
}
#navbar div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
}
/* ---------------------------------------- End Header ---------------------------------------- */
/* ---------------------------------------- Start Footer ---------------------------------------- */
#footer {
  background-color: #000;
  color: #fff;
}
#footer div div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
#footer div div ul li {
  list-style: none;
}
#footer div div ul li a {
  color: #fff;
  text-decoration: none;
}
#social-media {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: stretch !important;
}
#social-media a {
  margin-right: 20px;
}
#pay-author {
  margin-top: 100px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
/* ---------------------------------------- End Footer ---------------------------------------- */
/* ---------------------------------------- Start Home ---------------------------------------- */
#slideOne {
  background: url(./images/slide/slide-01.jpg);
}
#slideTwo {
  background: url(./images/slide/slide-02.jpg);
}
#slideThree {
  background: url(./images/slide/slide-03.jpg);
}
#slideOne,
#slideTwo,
#slideThree {
  height: 83vh;
  width: 100vw;
}
#bannerOne {
  background: url(./images/banner/banner-01.jpg);
}
#bannerTwo {
  background: url(./images/banner/banner-02.jpg);
}
#bannerThree {
  background: url(./images/banner/banner-03.jpg);
}
#bannerOne,
#bannerTwo,
#bannerThree {
  position: relative;
  width: 370px;
  height: 250px;
  border: 1px solid #e6e6e6;
}
.absoluteOne {
  position: absolute;
  top: 900px;
  left: 225px;
  z-index: 1;
}
.absoluteTwo {
  position: absolute;
  top: 900px;
  left: 625px;
  z-index: 1;
}
.absoluteThree {
  position: absolute;
  top: 900px;
  left: 1050px;
  z-index: 1;
}
/* ---------------------------------------- End Home ---------------------------------------- */
/* ---------------------------------------- Start Shop ---------------------------------------- */
.shop-header-right {
  margin: 5px;
  border: 1px solid #b2b2b2;
}
/* ---------------------------------------- End Shop ---------------------------------------- */
/* ---------------------------------------- Start About ---------------------------------------- */
/* ---------------------------------------- End About ---------------------------------------- */
/* ---------------------------------------- Start Contact ---------------------------------------- */
/* ---------------------------------------- End Contact ---------------------------------------- */
/* ---------------------------------------- Start Cart ---------------------------------------- */
/* ---------------------------------------- End Cart ---------------------------------------- */
