.reset-space {
  margin: 0;
  padding: 0;
}
.customize-input {
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
}
.nav-link-button {
  background: none;
  border: none;
}
.slide-landing-page {
  height: 83vh;
  width: 100vw;
}
